*               text=auto
*.bmp           binary
*.c             text
*.cpp           text
*.desktop       text eof=lf
*.editorconfig  text
*.gitattributes text
*.gitignore     text
*.gitmodules    text
*.h             text
*.hpp           text
*.icns          binary
*.ico           binary
*.in            text
*.md            text
*.nim           text
*.nims          text
*.png           binary
*.qrc           text
*.rc            text
*.tbm           binary
*.txt           text
*.xml           text
*.yml           text
vendored/*      linguist-vendored
