[submodule "miniaudio"]
	path = external/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "external/gbapu"]
	path = external/gbapu
	url = https://github.com/stoneface86/gbapu
[submodule "external/rtmidi"]
	path = external/rtmidi
	url = https://github.com/thestk/rtmidi
